{
  "extends": [
    "prettier",
    "prettier/react"
  ],
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": [
    "prettier"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": ["error", {"singleQuote": true, "parser": "flow"}],
    "react/react-in-jsx-scope": "off",
    "react/wrap-multilines": "off",
    "no-debugger": 0
  }
}