// avoid extends: https://www.sitepoint.com/avoid-sass-extend/

/*
* Flexbox layout helpers
*/

@mixin flex-wrap($direction: row, $align-content: flex-end) {
  display: flex;
  flex-flow: $direction wrap;
  align-content: $align-content;
}

@mixin flex-center($direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}

@mixin flex-direction($direction: row) {
  display: flex;
  flex-direction: $direction;
}
