$fa-font-path: "~font-awesome/fonts";
// import scss from node_modules dir
@import '~font-awesome/scss/font-awesome.scss';
@import '~normalize-scss/sass/normalize/import-now';

@import '../styles/flex-layout';

html,
body,
body > div {
  display: flex;
  width: 100%;
  height: 100%;
}

body > div {
  @include flex-center();
  background: #636363;
}

.app {
  max-width: 480px;
  width: 100%;
  background: white;
}
