@import '../styles/flex-layout';
@import '../styles/settings';

$icon-top-margin: 15px;
$icon-outer-margin: 15px;

.actionbar-section {
  @include flex-row();
  background: $off-white;
  height: 100%;
}

.actionbar-icon {
}

.actionbar-icon-wrapper {
  display: flex;
  width: 40%;
}

.actionbar-icon-camera {
  margin: $icon-top-margin auto 0 $icon-outer-margin;
}

.actionbar-icon-plane {
  margin: $icon-top-margin $icon-outer-margin 0 auto;
}

.actionbar-logo-wrapper {
  width: 40%;
}

.actionbar-logo {
  text-indent: -9999px;
  background-image: url('images/instagram_logo.png');
  background-repeat: no-repeat;
  background-size: 140px;
  height: 78%;
  margin: 12px 0 0 10px;
}
