@import '../../styles/variables';
@import '../../styles/flex-layout';

.commentsheader {
  @include flex-direction();
  background: $color-off-white;
}

.commentsheader-title-wrapper {
  @include flex-direction();
  align-items: center;
  flex: 2 0 0;
}

.commentsheader-title {
  font-size: 1.8em;
  margin: 0;
  text-align: center;
}

.commentsheader-backicon-wrapper {
  flex: 1 0 0;
}
.commentsheader-backicon {
  margin: 5.5px 0 0 15px;
  color: $color-black;
}
